@charset "utf-8";
@import url('fonts.css');
@import url('all.min.css');

body{
  overflow-x: hidden;
  max-width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}
ul {
    position: absolute;
    padding: 0;
    list-style: none;
    width: 200px;
    border-right: 1px solid #ccc;
    height: 100%;
    z-index: 1;
    background: #ffffff; 
    transition: all 0.6s;
}
ul li{
    position: relative;
    color: #111;
    font-family: sans-serif;
    padding: 20px 0;
    text-align: left;
    text-shadow: 4px 4px 2px #ccc;
    padding-left: 50px;
    overflow: hidden;
}
ul li.on a{display: block;}
ul li.on{/* color: red;  */text-shadow: none;}
ul li.on a::before{width: 75%;}
ul li:hover a::before {width: 75%;}
ul li a::before{
  content: '';
  position: absolute;
  left: 25px;
  top: 32px;
  width: 8px;
  height: 1px;
  background: #ff7300;
  transition: all 0.3s;
}
.util{
  position: absolute; 
  bottom: 15px; 
  z-index: 1;
  padding-left: 7px; 
}
.util p{
  margin: 10px 0;
}
.util input{
  background: none;
  color: black;
  outline: none;
  padding: 5px;
  margin: 15px 0;
}
form{margin-top: 20px;}
input::placeholder {color:#111;}

.contents-wrap .contents {display: none;}
.contents-wrap .contents.on{display: block;}

.contents-wrap .contents .text{
  position: absolute; 
  text-align: center;
  left: 20%;
  top: 15%;
  text-align: left;
}
.contents-wrap .contents .text h1 {font-size: 2.50em;}
.contents-wrap .contents:first-child h2{
  font-size: 2.50em;
  text-align: center;
}
.contents-wrap .contents:first-child .text{
  left: 54%;
  top: 50%;
  transform: translate(-50%, -54%);
}
.contents-wrap .contents:first-child h1{
  font-family: 'Zen Antique', serif;
  font-size: 6.25em;
  text-align: center;
}
.contents-wrap .contents:first-child{
  background: url(../img/no.jpg) no-repeat center/cover;
  max-width: 100%;
}
.contents-wrap .contents:first-child .bg-c{display: none;}

.contents-wrap .contents .text h3{
  font-size: 28px; 
  margin-top: 35px;
  position: relative;
  
}

.contents-wrap .contents .text span{
  position: relative;
  display: block;
  margin-top: 15px;
  margin-left: 25px;
  font-size: 1.10em;
}
.contents-wrap .contents .text span::before{
  content: '';
  position: absolute;
  left: -25px;
  top: 15px;
  width: 15px;
  height: 3px;
  background: black;
}
.contents-wrap .contents input{
  color: #fff;
  background: #111;
  border: 1px solid #111;
  padding: 10px 15px;
  margin-top: 40px;
  margin-right: 15px;
}
.contents-wrap .contents .text .btn input:hover{
  color: #111;
  background: #fff;
}
.contents-wrap .contents{
    position: absolute;
    left: 100%;
    height: 100%;
    min-width: 100%;
    display: block;
    transition: all 0.5s;
}
.contents-wrap .contents.on{
    left: 0; 
}

.contents-wrap .contents .bg img{
  max-width: 100%; height: 60%; 
  position: absolute;
  right: 15%;
  top: 13%;
  z-index: 2;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.contents-wrap .contents .bg img:nth-child(2){
  right: 8%;
  top: 35%;
  height: 55%;
  width: 20%;
}
.contents-wrap .contents:nth-child(2) .bg img:nth-child(2){width: 25%;}
.contents-wrap .contents:nth-child(4) .bg img:nth-child(2){
  width: 35%;
  right: 5%;
  top: 40%;
  height: 40%;
}
.contents-wrap .contents:nth-child(5) .bg img:first-child{right: 10%;}
.contents-wrap .contents .bg-c{
  background: #eeebe4;
  height: 100%;
  width: 50%;
  right: -5%;
  position: absolute;
  transform: skew(-10deg);
}

.contents-wrap .contents:nth-child(3) .bg-c{background-color: #e9b340;}
.contents-wrap .contents:nth-child(4) .bg-c{background-color: #d8997c;}
.contents-wrap .contents:nth-child(5) .bg-c{background-color: #000000;}